<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Crower is a Twitter 2.0! (yep it's "two factorial")
  <ul>
    <li>It's fast.</li>
    <li>It's nice-looking.</li>
    <li>It has more red color</li>
    <li>It works</li>
  </ul>

  Want learn more?
</p>
<%= link_to "Sign up here!", signup_path, class: "btn btn-lg btn-primary" %>
