<footer class="footer">
  <small>
    Made in very long 5 days by MarekAG
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/MarekAG/asi215563">Github</a></li>
    </ul>
  </nav>
</footer>
